.header-hoteles {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos a los extremos */
    align-items: center;
    padding: 1rem;
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .favoritos-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 3rem;

  }
  
  .volver-btn {
    background-color: #6c757d;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
  }
  
  .header-hoteles h1 {
    margin-right: auto;
  }
  
  