/* Register.css */

.register-container {
    margin: 80px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-container h2 {
    color: #000f38;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    color: #000f38;
    margin-bottom: 8px;
  }
  
  .form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    outline: none;
    border-color: #3f60bb;
  }
  
  button[type="submit"],
  button[type="button"] {
    width: 100%;
    padding: 12px;
    background-color: #000f38;
    color: #eff2f8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  button[type="submit"]:hover,
  button[type="button"]:hover {
    background-color: #3f60bb;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }
  
  .button-group button {
    width: calc(50% - 5px); /* Espacio igual entre los dos botones */
  }
  
  .button-group button:first-child {
    margin-right: 10px;
  }
  
  @media (max-width: 500px) {
    .button-group {
      flex-direction: column;
    }
  
    .button-group button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  